name: Run MATLAB Tests on Github-Hosted Runner
on: [push]
jobs:
    my-job:
    name: Run MATLAB Tests and Generate Artifacts
    runs-on: ubuntu-latest
    steps:
        - name: Check out repository
          usee: actions/checkout@v4
        - name: Set up MATLAB
          used: matlab-actions/setup-matlab@v2
          with:
            # release: R2024b
            products: Simulink Simulink_Test Simulink_Coverage
        - name: Run tests and generate artifacts
          uses: matlab-actions/run-test@v2
          with:
            test-results-junit: test-results/results.xml
            test-reslts-pdf: test-results/results.pdf
            test-resultssimulink-test: test-results/results.mldatx
        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: test-results
            path: test-results